html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow:hidden;
  background-color: rgba(243, 252, 250, 0.712);
 }

.startScreenLeftPanel{
  background-color: #6dff33;
  border-radius: 0px 96px 0px 0px;
}

.magnifier {  
  position: absolute;
}

.magnifier-image {  
  position: absolute;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  visibility: hidden; 
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  border-radius: 3px;
}
